.sub-content {
  background-color: rgba(1, 1, 1, 0.5);
  width: 100vw;
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.sub-content__quote {
  padding-top: var(--horizontal_space);
  color: yellow;
  font-size: 15px;
}

.sub-content__weather {
  padding-top: var(--horizontal_space);
  font-size: 15px;
  padding-bottom: var(--horizontal_space);
}
