@keyframes blink {
  0% {
    background-color: rgba(255, 255, 255, 0);
  }
  50% {
    background-color: rgba(255, 255, 255, 0.5);
  }
  100% {
    background-color: rgba(255, 255, 255, 0);
  }
}
#main-content__clock {
  font-size: 120px;
  font-weight: 600;
  display: flex;
  padding: 50px 0px;
  text-shadow: var(--outliner);
}
#main-contenet__login_form input {
  display: flex;
  justify-content: center;
}

#main-content__login_form__input {
  border: none;
  font-size: 30px;
  color: white;
  border-bottom: 1px solid white;
  background-color: transparent;
  transition: border-color 0.5s ease-in-out;
  text-align: center;
}

#main-content__login_form__button {
  font-size: 18px;
  margin-bottom: 25px;
  border-radius: 9px;
  border-color: transparent;
}

#main-content__login_form input:first-child::placeholder {
  color: white;
  text-shadow: var(--outliner);
}

#main-content__login_form input:focus {
  animation: blink 1s ease-in-out infinite;
}

#main-content__login_greeting {
  color: black;
  text-shadow: 1px 1px white;
  font-size: 50px;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid black;
  border-radius: 25px;
}
